<div class="container p-5">
<nav class="nav nav-pills nav-fill">
  <a class="nav-item nav-link" [routerLink]="['/']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Home</a>
  <a class="nav-item nav-link" [routerLink]="['/users']" routerLinkActive="active">Users</a>
</nav>

  <router-outlet></router-outlet>



<!-- custom directive -->
<!--  <div *appCarousel="let image from images autoplay 'Yes'; let ctrl = controller">-->
<!--<img width="350px" [src]="image" />-->
<!--    <button (click)="ctrl.next()">Next</button>-->
<!--    <button (click)="ctrl.prev()">Previous</button>-->
<!--  </div>-->

<!--  <input type="text" appColorful style="width: 50rem;border-width:0.2rem ">-->
<!--&lt;!&ndash;  <p appAppHighlight [highlightColor]="color">Hello Ebrahim</p>&ndash;&gt;-->
<!--  <p [appAppHighlight]="color">Hello Ebrahim</p>-->

<!--  <app-directivetest [user]="user"></app-directivetest>-->
<!--  <select (change)="onSelectChange()" [(ngModel)]="userSelected">-->
<!--    <ng-container *ngFor="let user1 of users">-->
<!--      <ng-container *ngIf="user1.age >= 30">-->
<!--        <option [selected]="user1.age == 39 ? true : false" [ngValue]="user1">{{user1.name}} ({{user1.age}})</option>-->
<!--      </ng-container>-->

<!--    </ng-container>-->

<!--  </select>-->


<!--<app-lifecycle>-->
<!--  <p #par class="success">Content from parent</p>-->
<!--</app-lifecycle>-->
<!--  <button (click)="onContentChange()">Change Content </button>-->


<!--  <app-content><p #par class="success">test ngcontent like slog in vuejs</p></app-content>-->
<!--  <button (click)="onContentChange()">Change Content </button>-->

<!--  <p #par>test paragraph</p>-->
<!--  <app-inc></app-inc>-->
<!--  <app-inc></app-inc>-->

<!--<app-decoupling></app-decoupling>-->


<!--  <app-relation></app-relation>-->
<!--  <app-directive></app-directive>-->
<!--  <hr/>-->
<!--<app-attribute></app-attribute>-->
<!--  <hr/>-->
<!--  <app-form></app-form>-->
<!--<hr/>-->
<!--  <p [class]="!isCorrect? 'big-font-size' : 'small-font-size'">-->
<!--    {{name}}-->
<!--  </p>-->
<!--  <p [class]="classes">-->
<!--    {{name}}-->
<!--  </p>-->
<!--  <button [disabled]="isEnabled" > my BTN</button>-->
<!--  <br/>-->
<!--  <input type="text" (input)="onInputChanged($event)" />-->
<!--  <br/>-->
<!--  <p [style]="styles">twoWayBinding :  {{twoWayBinding}}</p>-->
<!--  <input type="text" [(ngModel)]="twoWayBinding"   />-->


</div>

